<div style="min-height: 100vh">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid" style="justify-content: end; height: 117.5px">
        <div style="display: flex;">
          <div>
          <%= link_to "About", root_path, class: "custom-button-navbar"%>
          </div>
        </div>
      </div>
  </div>

  <div class="container" >
    <div class="card" style="margin-bottom: 600px; padding: 50px;">
      <h2 style="color: #D77149"><strong>Lets Connect!</strong></h2>
      <h3><i class="fa-brands fa-whatsapp"></i>   +8618640454130</h3>
      <h3><i class="fa-solid fa-envelope"></i>   hanj50@gmail.com</h3>
      <h3><a href="https://github.com/hananjemal" target="_blank"><i class="fa-brands fa-github fa-lg"></i> hananjemal</a></h3>
      <h3><a href="https://www.instagram.com/hananjemal_/" target="_blank"><i class="fab fa-instagram fa-lg"></i> hananjemal_</a></h3>
    </div>
  </div>
</div>
