<div>
  <div>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <div style="display: flex; padding:20px;">
          <%= link_to "/hanan.codes", root_path, style: "font-family: 'Roboto', sans-serif; color:#A95534; font-size: 25px; font-weight: bold;", onmouseover: "this.style.color=' #D77149 ';", onmouseout: "this.style.color='#A95534';"%>
        </div>
        <div>
        <%= link_to "Contact Me", contact_path, class: "custom-button-navbar"%>
        </div>
      </div>
    </div>
    <div class="container" >
      <div class="card">
        <h2>About</h2>
        <h3>Hello, I'm Hanan</h3>
        <p>
        I'm a Full Stack Web Developer with a unique journey that's taken me from the classrooms of computer science in China to the world of web development.
        After completing my studies in computer science in China, I embarked on an unexpected adventure: becoming a kindergarten teacher. While nurturing young minds, I discovered a newfound joy in teaching and connecting with children. Simultaneously, I began self-teaching the fundamentals of web development during my spare time.
        Driven by a desire to shift gears and pursue my dream of becoming a software engineer, I took a leap of faith and enrolled in a web development bootcamp in Shanghai. It was there that I honed my skills and had the opportunity to work on exciting projects that expanded my knowledge and expertise.
        I'm passionate about learning new skills and am constantly on the lookout for ways to enhance my capabilities.
        </p>
        <p>
        I'm always eager to embrace new challenges.
        Feel free to reach out to me if you'd like to connect, collaborate, or simply chat about web development, teaching, or life's adventures.
        </p>
        <h3 style="color:#D77149">Thank you for visiting my corner of the web.</h3>
      </div>
      <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 100px;">
      <%= link_to "Projects", projects_path, class: "custom-button-navbar", style: "display: flex; align-items: center; padding:30px; font-size: 20px;"%>
      </div>
    </div>
  </div>
</div>
