<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div style="display: flex; padding:20px;">
      <%# <a class="navbar-brand" href="#"> %>

      <%# </a> %>
      <h2 style="display:flex; align-items:center; font-family: 'Roboto', sans-serif; color:#A95534;" onmouseover="this.style.color=' #D77149 ';" onmouseout="this.style.color='#A95534';">/ hanan.codes</h2>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div style="padding: 40px; border: solid  #EFEBE5; border-radius: 5px; width: 500px; margin: 50px; color: white;">
<h2>About me</h2>
<p>Hi there my name is Hanan Jemal. I am a Full stack Web developer</p>
<p>I'm passionate about design, learning new skills and working with childeren</p>
</div>
