<div>
  <div>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <div style="display: flex; padding:20px;">
          <%= link_to "/hanan.codes", root_path, style: "font-family: 'Roboto', sans-serif; color:#A95534; font-size: 25px; font-weight: bold;", onmouseover: "this.style.color=' #D77149 ';", onmouseout: "this.style.color='#A95534';"%>
        </div>
        <div style="display: flex;">
          <div>
          <a class="custom-button-navbar" href="#about"> About</a>
          </div>
          <div style="margin-left: 15px;">
          <a class="custom-button-navbar" href="#contact"> Contact Me</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container" >

      <%# <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 100px;">
      <%= link_to "Projects", projects_path, class: "custom-button-navbar", style: "display: flex; align-items: center; padding:30px; font-size: 20px;"%>
      <%# </div> %>
        <div>
          <h3 style="color:#D77149"><i class="fa-solid fa-code"></i> Welcome to my corner of the web.</h3>
          <div style= " display: flex; justify-content: space-between; margin-top: 20px;">
            <div style="bottom: 0">
              <h2 style="color:#D77149">Hanan Jemal</h2>
              <h4 style="color:#D77149">Fullstack Web Developer</h4>
            </div>
          </div>
        </div>
        <div class="card" style="background-color: black; margin: 50px auto;">
          <h2 style="font-weight: bold; color: #D77149; margin: 20px; ">Projects</h2>
          <div class="cards">
            <div>
              <div style="display: flex; justify-content: center">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('BBB.png')%>')">
                <a href="https://rails-borrow-bags-n-belts-app-6ce5c007134d.herokuapp.com/">BBB</a>
                </div>
              </div>
              <p>Marketplace website, where you can both rent and lease accessories allowing you to enjoy premium fashion accessories without the hefty price tags associated with purchasing. Our mission is to provide sustainable fashion by focusing on quality, durability, and environmental and ethical consciousness.</p>
            </div>

            <div>
              <div style="display: flex; justify-content: center">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('WISIT.png')%>')">
                <a href="http://www.wisit.pro">WISIT</a>
                </div>
              </div>
              <p>Our user friendly platform allows language enthusiasts, students, and travelers to seamlessly learn and master vocabulary from daily life in eight diverse languages, you can effortlessly generate flashcards for words and phrases you encounter in your daily life with the help of Artificial Intelligance.</p>
            </div>
          </div>
        </div>
        <div id="about" class="card">
          <h2>About Me</h2>
          <p>
          I'm a Full Stack Web Developer living in China. I finished my undergraduate degree in Computer Science in the city of Shenyang. After completing my studies in computer science, I embarked on an unexpected journey: becoming a kindergarten teacher. While nurturing young minds, I discovered a newfound joy in teaching and connecting with children. Simultaneously, I began self-teaching the fundamentals of web development during my spare time.
          The more i learnet the more i desired to shift gears and become a software engineer, I took a leap of faith and enrolled in a web development bootcamp in Shanghai. It was there that I honed my skills and had the opportunity to work on exciting projects that expanded my knowledge and expertise.
          I'm passionate about learning new skills and am constantly on the lookout for ways to enhance my capabilities.
          Outside of code I love to read, travel, photography, nature and coffee!
          </p>
          <div style="display: flex; justify-content: space-evenly; margin: 0px 100px">
            <h2><i class="fa-solid fa-book-open"></i></h2>
            <h2><i class="fa-solid fa-earth-americas"></i></h2>
            <h2><i class="fa-solid fa-camera-retro"></i></h2>
            <h2><i class="fa-brands fa-pagelines"></i></h2>
            <h2><i class="fa-solid fa-mug-saucer"></i></h2>
          </div>

        </div>

        <div id="contact" class="card" style="padding: 50px;">
          <p style="color:#A95534; font-size: 24px;">
          I'm always eager to embrace new challenges.
          Feel free to reach out to me if you'd like to connect/collaborate.
          </p>
          <h3 style="color: #D77149; margin: 10px;"><strong>Lets Connect!</strong></h3>
          <h4><i class="fa-brands fa-whatsapp"></i> +8618640454130</h4>
          <h4><i class="fa-solid fa-envelope"></i> hanj50@gmail.com</h4>
          <h4><a href="https://github.com/hananjemal" target="_blank"><i class="fa-brands fa-github fa-lg"></i> hananjemal</a></h4>
          <h4><a href="https://www.instagram.com/hananjemal_/" target="_blank"><i class="fab fa-instagram fa-lg"></i> hananjemal_</a></h4>
        </div>


  </div>
</div>
