<%# <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div style="display: flex; padding:20px;">
      <%# <a class="navbar-brand" href="#"> %>

      <%# </a> %>
      <%# <h2 style="display:flex; align-items:center; font-family: 'Roboto', sans-serif; color:#A95534;" onmouseover="this.style.color=' #D77149 ';" onmouseout="this.style.color='#A95534';">/ hanan.codes</h2>
</div> %>

<div class="container">
      <div class="card">

        <img src="images/IMG_1338.JPG" width="140px" height="120px" alt="hanan jemal">
        <h2>I'm Hanan</h2>
        <h3>Software Developer</h3>
        <p>
        I am an Ethiopian living in China. Im currently studying in Shanghai
        and im loving it here. I love animals, nature and all things good.
        </p>


      <ul class="list-inline">
        <li>
          <a href="https://github.com/hananjemal" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/hananjemal_/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a>
        </li>
      </ul>
      </div>
    </div>
